In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [26]:
s1 = Series(np.random.randn(10))

In [27]:
s1

0    1.306149
1   -1.248480
2   -0.012338
3   -0.255259
4    0.479091
5    0.331464
6    1.739686
7    0.535780
8   -0.416960
9    0.384361
dtype: float64

In [29]:
s1.values

array([ 1.30614922, -1.24848047, -0.01233807, -0.25525924,  0.47909092,
        0.33146359,  1.73968643,  0.53577959, -0.41696   ,  0.38436085])

In [30]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [33]:
s2 = s1.sort_values(ascending=False)

In [34]:
s2

6    1.739686
0    1.306149
7    0.535780
4    0.479091
9    0.384361
5    0.331464
2   -0.012338
3   -0.255259
8   -0.416960
1   -1.248480
dtype: float64

In [35]:
s2.sort_index()

0    1.306149
1   -1.248480
2   -0.012338
3   -0.255259
4    0.479091
5    0.331464
6    1.739686
7    0.535780
8   -0.416960
9    0.384361
dtype: float64

# Dataframe的排序

In [38]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E'])

In [39]:
df1

          A         B         C         D         E
0 -0.111131  1.827146 -1.034404  0.306836 -0.933289
1  0.511803  0.347962  0.183116 -0.342507 -1.062975
2 -1.706005 -0.067221 -1.376772 -0.661213  0.874486
3  0.386375 -0.086519 -0.184012 -0.534909 -0.072016
4 -0.225058  0.098309 -0.224717  1.184242  2.056770
5 -1.733564  0.090001 -0.737229 -1.561633 -0.855184
6 -0.589512  0.903856 -1.053208  1.381474  2.015115
7 -0.144392 -1.106281  1.881502  1.553821  1.503359

In [41]:
df1['A'].sort_values()

5   -1.733564
2   -1.706005
6   -0.589512
4   -0.225058
7   -0.144392
0   -0.111131
3    0.386375
1    0.511803
Name: A, dtype: float64

In [44]:
df2 = df1.sort_values('A')

In [45]:
df2

          A         B         C         D         E
5 -1.733564  0.090001 -0.737229 -1.561633 -0.855184
2 -1.706005 -0.067221 -1.376772 -0.661213  0.874486
6 -0.589512  0.903856 -1.053208  1.381474  2.015115
4 -0.225058  0.098309 -0.224717  1.184242  2.056770
7 -0.144392 -1.106281  1.881502  1.553821  1.503359
0 -0.111131  1.827146 -1.034404  0.306836 -0.933289
3  0.386375 -0.086519 -0.184012 -0.534909 -0.072016
1  0.511803  0.347962  0.183116 -0.342507 -1.062975

In [46]:
df2.sort_index()

          A         B         C         D         E
0 -0.111131  1.827146 -1.034404  0.306836 -0.933289
1  0.511803  0.347962  0.183116 -0.342507 -1.062975
2 -1.706005 -0.067221 -1.376772 -0.661213  0.874486
3  0.386375 -0.086519 -0.184012 -0.534909 -0.072016
4 -0.225058  0.098309 -0.224717  1.184242  2.056770
5 -1.733564  0.090001 -0.737229 -1.561633 -0.855184
6 -0.589512  0.903856 -1.053208  1.381474  2.015115
7 -0.144392 -1.106281  1.881502  1.553821  1.503359

In [47]:
df1

          A         B         C         D         E
0 -0.111131  1.827146 -1.034404  0.306836 -0.933289
1  0.511803  0.347962  0.183116 -0.342507 -1.062975
2 -1.706005 -0.067221 -1.376772 -0.661213  0.874486
3  0.386375 -0.086519 -0.184012 -0.534909 -0.072016
4 -0.225058  0.098309 -0.224717  1.184242  2.056770
5 -1.733564  0.090001 -0.737229 -1.561633 -0.855184
6 -0.589512  0.903856 -1.053208  1.381474  2.015115
7 -0.144392 -1.106281  1.881502  1.553821  1.503359