In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [18]:
# create a dataframe
df1 = DataFrame({"城市":["北京","上海","广州"], "人口":[1000,2000,1500]}, index=['A','B','C'])

In [19]:
df1

     人口  城市
A  1000  北京
B  2000  上海
C  1500  广州

In [20]:
df1

     人口  城市
A  1000  北京
B  2000  上海
C  1500  广州

In [23]:
df1['GDP'] = Series([1000,2000,1500], index=['A','B','C'])

In [24]:
df1

     人口  城市   GDP
A  1000  北京  1000
B  2000  上海  2000
C  1500  广州  1500

In [25]:
# replace in series

In [26]:
s1 = Series(np.arange(10))

In [27]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [31]:
s1.replace([1,2,3], [10,20,30])

0     0
1    10
2    20
3    30
4     4
5     5
6     6
7     7
8     8
9     9
dtype: int64

In [29]:
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64