In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# series reindex

In [2]:
s1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
s1.reindex(index=['A','B','C','D','E'])

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [5]:
s1.reindex(index=['A','B','C','D','E'], fill_value=10)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [6]:
s2 = Series(['A','B','C'], index=[1,5,10])

In [7]:
s2

1     A
5     B
10    C
dtype: object

In [9]:
s2.reindex(index=range(15),method='ffill')

0     NaN
1       A
2       A
3       A
4       A
5       B
6       B
7       B
8       B
9       B
10      C
11      C
12      C
13      C
14      C
dtype: object

# reindex dataframe

In [13]:
df1 = DataFrame(np.random.rand(25).reshape([5,5]), index=['A','B','D','E','F'], columns=['c1','c2','c3','c4','c5'])

In [14]:
df1

         c1        c2        c3        c4        c5
A  0.649883  0.611234  0.147865  0.307980  0.674897
B  0.615217  0.627108  0.458184  0.495353  0.072155
D  0.741560  0.117488  0.897019  0.296116  0.558359
E  0.969148  0.218885  0.235853  0.164188  0.203482
F  0.173675  0.337967  0.788934  0.511270  0.256199

In [15]:
df1.reindex(index=['A','B','C','D','E','F'])

         c1        c2        c3        c4        c5
A  0.649883  0.611234  0.147865  0.307980  0.674897
B  0.615217  0.627108  0.458184  0.495353  0.072155
C       NaN       NaN       NaN       NaN       NaN
D  0.741560  0.117488  0.897019  0.296116  0.558359
E  0.969148  0.218885  0.235853  0.164188  0.203482
F  0.173675  0.337967  0.788934  0.511270  0.256199

In [16]:
df1.reindex(columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.649883  0.611234  0.147865  0.307980  0.674897 NaN
B  0.615217  0.627108  0.458184  0.495353  0.072155 NaN
D  0.741560  0.117488  0.897019  0.296116  0.558359 NaN
E  0.969148  0.218885  0.235853  0.164188  0.203482 NaN
F  0.173675  0.337967  0.788934  0.511270  0.256199 NaN

In [17]:
df1.reindex(index=['A','B','C','D','E','F'],columns=['c1','c2','c3','c4','c5','c6'])

         c1        c2        c3        c4        c5  c6
A  0.649883  0.611234  0.147865  0.307980  0.674897 NaN
B  0.615217  0.627108  0.458184  0.495353  0.072155 NaN
C       NaN       NaN       NaN       NaN       NaN NaN
D  0.741560  0.117488  0.897019  0.296116  0.558359 NaN
E  0.969148  0.218885  0.235853  0.164188  0.203482 NaN
F  0.173675  0.337967  0.788934  0.511270  0.256199 NaN

In [18]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [19]:
s1.reindex(index=['A','B'])

A    1
B    2
dtype: int64

In [20]:
df1

         c1        c2        c3        c4        c5
A  0.649883  0.611234  0.147865  0.307980  0.674897
B  0.615217  0.627108  0.458184  0.495353  0.072155
D  0.741560  0.117488  0.897019  0.296116  0.558359
E  0.969148  0.218885  0.235853  0.164188  0.203482
F  0.173675  0.337967  0.788934  0.511270  0.256199

In [21]:
df1.reindex(index=['A','B'])

         c1        c2        c3        c4        c5
A  0.649883  0.611234  0.147865  0.307980  0.674897
B  0.615217  0.627108  0.458184  0.495353  0.072155

# Series and dataframe drop

In [22]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [23]:
s1.drop('A')

B    2
C    3
D    4
dtype: int64

In [24]:
df1

         c1        c2        c3        c4        c5
A  0.649883  0.611234  0.147865  0.307980  0.674897
B  0.615217  0.627108  0.458184  0.495353  0.072155
D  0.741560  0.117488  0.897019  0.296116  0.558359
E  0.969148  0.218885  0.235853  0.164188  0.203482
F  0.173675  0.337967  0.788934  0.511270  0.256199

In [27]:
df1.drop('c1', axis=1)

         c2        c3        c4        c5
A  0.611234  0.147865  0.307980  0.674897
B  0.627108  0.458184  0.495353  0.072155
D  0.117488  0.897019  0.296116  0.558359
E  0.218885  0.235853  0.164188  0.203482
F  0.337967  0.788934  0.511270  0.256199