In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series的排序

In [2]:
s1 = Series(np.random.randn(10))

In [3]:
s1

0    0.353695
1    0.516444
2   -1.267883
3    0.491114
4    0.044430
5    0.420707
6    0.015520
7    0.157224
8   -0.507988
9    0.816873
dtype: float64

In [4]:
s1.values

array([ 0.35369474,  0.51644394, -1.26788296,  0.49111431,  0.04443035,
        0.42070653,  0.01552016,  0.15722365, -0.50798797,  0.81687252])

In [5]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [6]:
s2 = s1.sort_values(ascending=False)

In [7]:
s2

9    0.816873
1    0.516444
3    0.491114
5    0.420707
0    0.353695
7    0.157224
4    0.044430
6    0.015520
8   -0.507988
2   -1.267883
dtype: float64

In [8]:
s2.sort_index()

0    0.353695
1    0.516444
2   -1.267883
3    0.491114
4    0.044430
5    0.420707
6    0.015520
7    0.157224
8   -0.507988
9    0.816873
dtype: float64

# Dataframe的排序

In [9]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E'])

In [10]:
df1

          A         B         C         D         E
0 -1.407659  0.434508 -0.769402 -1.557372 -0.439336
1 -2.369773  0.335388  0.955628 -0.377313 -1.523516
2 -0.499351  3.306794 -0.280044 -0.054490 -0.061546
3 -0.150991  0.178401  0.470797  0.452184 -0.103362
4  2.538143 -0.672921  0.553710 -0.650690 -0.507762
5 -2.182388  0.526380  2.196212 -0.646108 -1.315029
6  0.081426 -0.827773  1.728363 -0.127423 -0.834192
7 -0.665540  0.081015  0.111719  0.162778  0.850304

In [11]:
df1['A'].sort_values()

1   -2.369773
5   -2.182388
0   -1.407659
7   -0.665540
2   -0.499351
3   -0.150991
6    0.081426
4    2.538143
Name: A, dtype: float64

In [12]:
df2 = df1.sort_values('A')

In [13]:
df2

          A         B         C         D         E
1 -2.369773  0.335388  0.955628 -0.377313 -1.523516
5 -2.182388  0.526380  2.196212 -0.646108 -1.315029
0 -1.407659  0.434508 -0.769402 -1.557372 -0.439336
7 -0.665540  0.081015  0.111719  0.162778  0.850304
2 -0.499351  3.306794 -0.280044 -0.054490 -0.061546
3 -0.150991  0.178401  0.470797  0.452184 -0.103362
6  0.081426 -0.827773  1.728363 -0.127423 -0.834192
4  2.538143 -0.672921  0.553710 -0.650690 -0.507762

In [14]:
df2.sort_index()

          A         B         C         D         E
0 -1.407659  0.434508 -0.769402 -1.557372 -0.439336
1 -2.369773  0.335388  0.955628 -0.377313 -1.523516
2 -0.499351  3.306794 -0.280044 -0.054490 -0.061546
3 -0.150991  0.178401  0.470797  0.452184 -0.103362
4  2.538143 -0.672921  0.553710 -0.650690 -0.507762
5 -2.182388  0.526380  2.196212 -0.646108 -1.315029
6  0.081426 -0.827773  1.728363 -0.127423 -0.834192
7 -0.665540  0.081015  0.111719  0.162778  0.850304

In [15]:
df1

          A         B         C         D         E
0 -1.407659  0.434508 -0.769402 -1.557372 -0.439336
1 -2.369773  0.335388  0.955628 -0.377313 -1.523516
2 -0.499351  3.306794 -0.280044 -0.054490 -0.061546
3 -0.150991  0.178401  0.470797  0.452184 -0.103362
4  2.538143 -0.672921  0.553710 -0.650690 -0.507762
5 -2.182388  0.526380  2.196212 -0.646108 -1.315029
6  0.081426 -0.827773  1.728363 -0.127423 -0.834192
7 -0.665540  0.081015  0.111719  0.162778  0.850304

In [16]:
!ls

Series和DataFrame的排序.ipynb     imdb.csv
Untitled.ipynb

In [ ]:
df_results = pd.read_csv('imdb.csv')

In [ ]:
df_resu